body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
  color: red;
}  
  
#movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  border: 1px solid rgb(182, 54, 54);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: lightblue;
}

.movie image {
  max-width: ;
} 

.pagination {
  margin-top: 20px;          
  display: flex;
  justify-content: center;
}

.page-link {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: skyblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
