body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px;
  color: red;
}

#searchInput {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#categoryFilter {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#pagination {
  margin-top: 30px;          
  display: flex;
  justify-content: center;
  cursor: pointer;
}
